* {
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;   
}

body{
    background-image: url(./imagens/background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 90vh;
}

ul {
    list-style: none;   
}


a {
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-size: 25px;   
    
}

.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    transition: 0.6s;
    padding: 20px 100px;
    z-index: 100000;
    background: rgb(0 0 0 / 38%);
}

.hearderMudaCor{
    background-color: rgba(0, 0, 0, 0.89);
}

.header :hover{
    color: rgb(45, 194, 199);
}

.menu{
    display: flex;
    border: 1px solid white;
    border-radius: 10px;
    font-family: 'Comfortaa', cursive;
    margin-top: 20px;
}

.menu li{
    margin: 10px;
}

.menu li a{
    padding: 10px;
}

.menu ul{
    justify-content: center;
}


.logo{
    height: 80px;
    width:  200px;
    color: white;
}

.main{
    display: flex;
    align-items: center;
    margin-top: 25%;
}

.footer{
    display: flex;
    padding: 30px;
    margin-top: 20%;
}

.section{
    font-size: 60px;
    font-family: 'Comfortaa', cursive;
    display: flex;
    color: rgb(45, 194, 199);
    margin-top: 30%;
}


strong{
    color: rgb(65, 231, 24);
}

.input {
    display: flex;
    margin-top: 0;
    width: 400px;
    height: 40px;
    border: 1px solid rgb(255, 255, 255);
    border-radius: 10px;
    color: white;
    font-size: 25px;
    background-color: rgba(0, 0, 0, 0);
  }

  @media screen and (max-width: 600px) {
    .col-25, .col-75, .section {
      width: 100%;
      margin-top: 0;
    }}
